{% extends "layout.twig" %}

{% block content %}
<div class="container">

    <div class="row">
        <h2 class="col-md-12 text-center">Пользователи</h2>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th>Возраст</th>
                <th>Текст</th>
                <th>Фото</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>

        {% for item in data %}
            <tr>
                <td>{{ item['username'] }}</td>
                <td>{{ item['email'] }}</td>
                <td>{{ item['age'] }}</td>
                <td>{{ item['userText'] }}</td>
                <td>{{ item['photos'] }}</td>
                <td>{{ item['status'] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}